*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

div{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    border-radius: 20px;
    background-color: rgb(152, 114, 198);
    border: 2px solid white;
}

h1{
    font-size: 40px;
    color: white;
}
main{
    height: 300px;
    width: 450px;
    background-color: crimson;
    border-radius: 20px;
    border: 2px solid white;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main h4{
    color: white;
    font-size: 35px;
    padding: 10px;
}

button{
    padding: 20px 30px;
    background-color: rgb(255, 0, 51);
    font-size: 20px;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
}

button:active{
    scale: 0.95;
    background-color: rgba(25, 0, 250, 0.719);
}